<!doctype html>
<html>
  <head>
    <title>Jira Progress Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.1/event-calendar.min.css">
  </head>
  <body>
    <nav id="navbar" class="navbar bg-light border-bottom border-body" data-bs-theme="light">
      <div class="container-fluid d-flex align-items-center justify-content-center">
        <a class="navbar-brand" href="#">
            <center>
              <lord-icon
                  src="https://cdn.lordicon.com/rnuzkjnk.json"
                  trigger="loop"
                  delay="1500"
                  colors="primary:#4bb3fd"
                  style="width:150px;height:150px">
              </lord-icon>
              <p class="h5">Action Insight</p>
            </center>
        </a>
      </div>
    </nav>
    <div class="container" id="spinner" style="display:none;">
      <Br/><br/><br/><br/><Br/><br/>
      <center>
        <lord-icon
            src="https://cdn.lordicon.com/dsoshxtl.json"
            trigger="loop"
            colors="primary:#4be1ec,secondary:#cb5eee"
            style="width:250px;height:250px">
        </lord-icon>
        <br/>
        <br/>
        Updating...
      </center>
    </div>

    <div class="container" id="data_container">
      <br/><br/>
      <center>
        {% if day_name == 'Monday' %}
        <span class="badge bg-success">Monday</span>
        {% else %}
        <span class="badge bg-secondary">Monday</span>
        {% endif %}

        {% if day_name == 'Tuesday' %}
        <span class="badge bg-success">Tuesday</span>
        {% else %}
        <span class="badge bg-secondary">Tuesday</span>
        {% endif %}

        {% if day_name == 'Wednesday' %}
        <span class="badge bg-success">Wednesday</span>
        {% else %}
        <span class="badge bg-secondary">Wednesday</span>
        {% endif %}

        {% if day_name == 'Thursday' %}
        <span class="badge bg-success">Thursday</span>
        {% else %}
        <span class="badge bg-secondary">Thursday</span>
        {% endif %}

        {% if day_name == 'Friday' %}
        <span class="badge bg-success">Friday</span>
        {% else %}
        <span class="badge bg-secondary">Friday</span>
        {% endif %}

        {% if day_name == 'Saturday' %}
        <span class="badge bg-success">Saturday</span>
        {% else %}
        <span class="badge bg-secondary">Saturday</span>
        {% endif %}

        {% if day_name == 'Sunday' %}
        <span class="badge bg-success">Sunday</span>
        {% else %}
        <span class="badge bg-secondary">Sunday</span>
        {% endif %}
        
      </center>

      <br/><br/>

      <div class="row row-cols-1 row-cols-md-2 g-4">

        {% if jira_progress_report %}
          {% for key, value in jira_progress_report.items() %}
            {% if value.total > 0%}
              <div class="col">
                <div class="card border-secondary">
                  <h5 class="card-header">{{ value.name }}
                    
                    <div style="margin-top:10px;" class="progress-stacked">
                      <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="{{ value.to_do }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (value.to_do * 100) / value.total }}%">
                        <div class="progress-bar bg-danger">To Do</div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="{{ value.in_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (value.in_progress * 100) / value.total }}%">
                        <div class="progress-bar bg-dark">Working</div>
                      </div>
                      <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="{{ value.total - value.to_do - value.in_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((value.total - value.to_do - value.in_progress) * 100) / value.total }}%">
                        <div class="progress-bar bg-info">Done</div>
                      </div>
                    </div>
                  </h5>
                  <div class="card-body">
                    <h6><i class="las la-tasks"></i> {{ value.to_do }} Pending Tickets</h6>
                    <h6><i class="las la-stopwatch"></i> {{ value.to_do_hours }} hours to go</h6>
                    <h6><i class="las la-calendar"></i> Deadline in 20 days</h6>
                    <h6><i class="las la-crosshairs"></i> 3hrs/day needed</h6>
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        </div>   
        <br/><br/>
        {% if upcoming_tickets %}
        <div class="row">
          <div class="col">
          <div class="card border-dark mb-3">
            <div class="card-header">Upcoming Tickets on the Sprint
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Task</th>

                  </tr>
                </thead>
                <tbody>
                  {% for key, value in upcoming_tickets.items() %}
                    {% for task_id, task_name in value.items() %}
                    <tr>
                      <td>{{ task_id }}</td>
                      <td><p class="card-text"><i class="las la-angle-double-right"></i> {{ task_name }} 
                      </p></td>
                      <!--
                      <td>
                        <button type="button" class="btn btn-primary btn-sm" id="start-tracking-button"><i class="las la-play"></i>&nbsp;&nbsp;Start Tracking</button>
                        <button style="display:none;" type="button" class="btn btn-danger btn-sm" id="end-tracking-button"><i class="las la-stop-circle"></i>&nbsp;&nbsp;End Tracking</button>
                      </td>
                      -->
                    </tr>
                    {% endfor %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div> 
        {% endif %}
    </div>

    <Br/><br/>
    <div class="row">

          <div class="col">
            <div class="row">
              <div class="col-sm-8"><div class="card border-secondary mb-3">
                <div class="card-header">Daily Work Log Mapping</div>
                <div class="card-body text-secondary">
                  <div id="calendar"></div>
                </div>
              </div></div>
              <div class="col-sm-4"><div class="card border-secondary mb-3">
                <div class="card-header">Hours worked today</div>
                <div class="card-body text-secondary">
                  <div id="chart3"></div>
                </div>
              </div></div>
            </div>
          

          <div class="card border-secondary mb-3">
            <div class="card-header">Pending work hours vs Executed work hours</div>
            <div class="card-body text-secondary">
              <div id="chart"></div>
            </div>
          </div>
      </div>
      
      
      <center><p>Updated at: {{ updated_at }}</p></center><br/>
      <center><button type="button" class="btn btn-primary btn-sm" onclick="update_report_data();">Refresh Data</button></center>
      <br/><br/><br/><br/>
      <center>
        <a href="https://github.com/anil-dewani/jira-dashboard"><i class="las la-external-link-alt"></i>&nbsp;&nbsp;Source Code</a><br/>
        Developed with ❤️ by <a href="https://anildewani.com/">Anil Dewani</a>
      </center>
      <br/><br/><br/>
      <br/><br/><br/>
    </div>

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@event-calendar/build@1.5.1/event-calendar.min.js"></script>

    <script>
      function send_pulse_request(ticket_id)
      {
        $.post('/pulse/'+ticket_id+'/', function(data) {
          alert(data);
          setTimeout(send_pulse_request,5000);
        });
      }

      function start_tracking(ticket_id)
      {
        $.post('/start-tracking/'+ticket_id+'/', function(data) {
          alert(data);
          $('#end-tracking-button').show();
          $('#start-tracking-button').hide();
          send_pulse_request();
        });
      }

      function end_tracking(ticket_id)
      {
        $.post('/end-tracking/'+ticket_id+'/', function(data) {
          alert(data);
          $('#end-tracking-button').hide();
          $('#start-tracking-button').show();
        });
      }

      function update_report_data()
        {
          $('#spinner').show();
          $('#data_container').hide();
          $('#navbar').hide();
          $.ajax({
            url: "/update", 
            success: function (data) {
                // Handle success here
                location.reload();
            },
            cache: false
        }).fail(function (jqXHR, textStatus, error) {
            // Handle error here
            alert('Some error updating report data')
        });
        }
      $( document ).ready(function() {
        var options = {
          series: [
          {
            name: "Workload in hours",
            data: [{{ pending_work_hours }}]
          },
          {
            name: "Executed work in hours",
            data: [{{ executed_work_hours }}]
          }
        ],
          chart: {
          height: 400,
          type: 'line',
          dropShadow: {
            enabled: true,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: false
          }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
          enabled: true,
        },
        stroke: {
          curve: 'smooth'
        },
        title: {
          text: 'Gap between backlog and execution',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          row: {
            colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
            opacity: 0.5
          },
        },
        markers: {
          size: 1
        },
        xaxis: {
          categories: ['{{ dates|safe }}'],
          title: {
            text: 'Days'
          }
        },
        yaxis: {
          title: {
            text: 'Work Hours'
          },
          min: 1,
          max: {{ max_work_hours }}
        },
        legend: {
          position: 'top',
          horizontalAlign: 'right',
          floating: true,
          offsetY: -25,
          offsetX: -5
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        var options = {
          series: [75],
          chart: {
          height: 258,
          type: 'radialBar',
          toolbar: {
            show: true
          }
        },
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 225,
             hollow: {
              margin: 0,
              size: '70%',
              background: '#fff',
              image: undefined,
              imageOffsetX: 0,
              imageOffsetY: 0,
              position: 'front',
              dropShadow: {
                enabled: true,
                top: 3,
                left: 0,
                blur: 4,
                opacity: 0.24
              }
            },
            track: {
              background: '#fff',
              strokeWidth: '67%',
              margin: 0, // margin is in pixels
              dropShadow: {
                enabled: true,
                top: -3,
                left: 0,
                blur: 4,
                opacity: 0.35
              }
            },
        
            dataLabels: {
              show: true,
              name: {
                offsetY: -10,
                show: true,
                color: '#888',
                fontSize: '17px'
              },
              value: {
                formatter: function(val) {
                  return parseInt(val);
                },
                color: '#111',
                fontSize: '36px',
                show: true,
              }
            }
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
            shade: 'dark',
            type: 'horizontal',
            shadeIntensity: 0.5,
            gradientToColors: ['#ABE5A1'],
            inverseColors: true,
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100]
          }
        },
        stroke: {
          lineCap: 'round'
        },
        labels: ['Hours'],
        };

        var chart = new ApexCharts(document.querySelector("#chart3"), options);
        chart.render();
        

        let ec = new EventCalendar(document.getElementById('calendar'), {
          view: 'dayGridMonth',
          events: [
          ],
          headerToolbar: {
            start: 'prev,next',
            center: '',
            end: 'title'
        },

          
        
      dayMaxEvents: true,
          nowIndicator: true,
          selectable: true
      });
      
      //document.getElementsByClassName('ec-day-head')[0].parentNode.style="background-color: red;"
      });
    </script>
</body>
</html>